AES_256_CM PRF for 256 bit Cipher

RFC7714 states the following on PRF

"The AEAD_AES_128_GCM algorithm MUST use the (128-bit)
   AES_CM PRF KDF described in [RFC3711].  AEAD_AES_256_GCM MUST use the
   AES_256_CM_PRF KDF described in [RFC6188]"

Currently double refers to AES_CM PRF. We need to use AES_256_CM PRF for 256 bit AES_GCM algorithm